{% extends 'FestitimeFestivalBundle::layout.html.twig' %}

    {% block title %}Inscription{% endblock %}

    {% block specificRessources %}
        <!-- scripts for using angular-timer -->
        <script type="text/javascript" src="/assets/js/bower_components/humanize-duration/humanize-duration.js"></script>
        <script type="text/javascript" src="/assets/js/bower_components/momentjs/min/moment.min.js"></script>
        <script type="text/javascript" src="/assets/js/bower_components/momentjs/min/locales.min.js"></script>
        <script type="text/javascript" src="/assets/js/bower_components/angular-timer/dist/angular-timer.js"></script>
        <!-- /scripts for using angular-timer -->
    {% endblock %}


    {% block content %}
        <!-- <div>
        <a href="{{googleAuthUrl}}">google connect</a>
        </div> -->
        <div id="register">
            <h2>S'inscrire</h2>
            <div id="register-content">
                <h3>Pas encore de compte ?</h3>
                {% form_theme formRegister 'bootstrap_3_layout.html.twig' %}
                <form action="{{ path('postUser') }}" method="POST" id="register-form">
                    {{ form_errors(formRegister) }}
                    <br>
                    <div id="register-left">
                        {{ form_row(formRegister.firstname) }}
                        <br>
                        {{ form_row(formRegister.gender) }}
                        <br>
                        {{ form_row(formRegister.email.first) }}
                        <br>
                        {{ form_row(formRegister.email.second) }}
                        <br>
                        {{ form_row(formRegister.address) }}
                        <br>
                        {{ form_row(formRegister.zipcode) }}
                        <br>
                    </div>
                    <div id="register-right">
                        {{ form_row(formRegister.name) }}
                        <br>
                        {{ form_row(formRegister.birthdate,  { 'attr': {'class': 'border-select'} }) }}
                        <br>
                        {{ form_row(formRegister.password.first) }}
                        <br>
                        {{ form_row(formRegister.password.second) }}
                        <br>
                        {{ form_row(formRegister.city) }}
                        <br>
                        {{ form_row(formRegister.country) }}
                        <br>
                    </div>
                    <div id="submit-center">
                        <input type="submit" name="submit" value="S'inscrire">
                    </div>
                </form>
            </div>
        </div>
        <!-- <div>
            <form action="{{ path('login') }}" method="POST">
                {{ form_row(formConnect.pseudo) }}
                <br>
                {{ form_row(formConnect.password) }}
                <br>
                <input type="submit" name="submit" value="submit">
            </form>
        </div> -->
    {% endblock %}

{% block javascripts %}
    <script type="text/javascript">
    (function() {
        "use strict";

        angular.module("ngAnimate", []);

    })();
    </script>
{% endblock %}
