{% extends 'FestitimeUserBundle::layout.html.twig' %}

    {% block title %}Festitime{% endblock %}


    {% block body %}
        <div>
            <form action="{{ path('postUser') }}" method="POST">
                Créer vous un compte :
                <br>
                {{ form_row(formRegister.pseudo) }}
                <br>
                {{ form_row(formRegister.email) }}
                <br>
                {{ form_row(formRegister.password) }}
                <br>
                {{ form_row(formRegister.birthdate) }}
                <br>
                {{ form_row(formRegister.gender) }}
                <br>
                {{ form_row(formRegister.firstname) }}
                <br>
                {{ form_row(formRegister.name) }}
                <br>
                {{ form_row(formRegister.address) }}
                <br>
                {{ form_row(formRegister.city) }}
                <br>
                {{ form_row(formRegister.zipcode) }}
                <br>
                {{ form_row(formRegister.country) }}
                <br>
                <input type="submit" name="submit" value="Envoyer">
            
            </form>
        </div>
        <div>
            <form action="{{ path('login') }}" method="POST">
                {{ form_row(formConnect.pseudo) }}
                <br>
                {{ form_row(formConnect.password) }}
                <br>
                <input type="submit" name="submit" value="submit">
            </form>
        </div>
    {% endblock %}
