<html>
<head>
    <title>{{ festival.name }} - Festitime</title>
    <script src="/assets/js/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="/assets/js/bower_components/angular-animate/angular-animate.min.js"></script>
    <!-- To uncomment when angular-bootstrap work with angular 1.3.* -->
    <!-- <script type="text/javascript" src="/assets/js/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script> -->
    <!-- scripts for using angular-timer -->
    <script type="text/javascript" src="/assets/js/bower_components/humanize-duration/humanize-duration.js"></script>
    <script type="text/javascript" src="/assets/js/bower_components/momentjs/min/moment.min.js"></script>
    <script type="text/javascript" src="/assets/js/bower_components/momentjs/min/locales.min.js"></script>
    <script type="text/javascript" src="/assets/js/bower_components/angular-timer/dist/angular-timer.js"></script>
    <!-- /scripts for using angular-timer -->
    <!-- CSS -->
    <link rel="stylesheet" href="/assets/js/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/dist/css/styles.min.css">
    <!-- /CSS -->
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!-- /Fonts -->
    <!-- Angular app need to be load last -->
    <script type="text/javascript" src="/assets/dist/js/built.js"></script>
</head>
<body ng-app="Frontoffice" ng-controller="festivalController as festivalCtrl" ng-init="festivalCtrl.getFestival('{{festival.id}}')">
    <!-- Connect modal -->
    <div id="connect-modal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="modal-close" data-dismiss="modal" aria-hidden="true"><img src="/assets/images/Croix.png" /></button>
                </div>
                <div id="connect-content-modal">
                    <h4 class="modal-title">Se connecter</h4>
                    <div class="modal-body">
                        <h5 class="modal-subtitle">Déjà membre ?</h5>
                        <div class="clear"></div>
                            <div id="facebook" class="social-button">
                                <img src="/assets/images/FB.png">
                                <p>Connexion facebook</p>
                            </div>
                            <a href="{{googleAuthUrl}}">
                                <div id="google" class="social-button">
                                    <img src="/assets/images/Google.png">
                                    <p>Connexion google</p>
                                </div>
                            </a>
                        <div class="clear"></div>
                        <p class="modal-subtitle-small">Ou par email</p><br>
                        <form action="{{ path('login') }}" method="POST" role="form">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" id="email" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="password">Mot de passe</label>
                                <input type="password" id="password" class="form-control" />
                            </div>
                            <p class="modal-text-right">Se souvenir de moi</p>
                            <!-- Slide THREE -->
                            <div class="slideThree">
                                <input type="checkbox" value="None" id="slideThree" name="check" />
                                <label for="slideThree"></label>
                            </div>
                            <div class="clear"></div>
                            <!--  -->
                            <input type="submit" class="modal-button btn btn-lg" value="Se connecter">
                        </form>
                    </div>
                </div>
                <div id="register-content-modal">
                    <h4 class="modal-title">S'inscrire</h4>
                    <div class="modal-body">
                        <h5 class="modal-subtitle">Pas encore de compte ?</h5>
                        <div class="clear"></div>
                            <div id="facebook" class="social-button">
                                <img src="/assets/images/FB.png">
                                <p>Inscription facebook</p>
                            </div>
                            <div id="google" class="social-button">
                                <img src="/assets/images/Google.png">
                                <p>Inscription google</p>
                            </div>
                        <div class="clear"></div>
                        <p class="modal-subtitle-small">Ou par email</p><br>
                        <a href="{{url('login')}}" class="modal-button btn btn-lg">S'inscrire</a>
                        <br><img src="/assets/images/Fusee.png" height="150px"/>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <!-- /Connect modal -->
    <header>
        {% set user = app.session.get('user') %}
        <div id="flag">
            <img id="logo" width="110px" src="/assets/images/logo.png"/>
        </div>
        <div id="menu">
            <a href="{{url('home')}}" class="link">
                <span>Accueil</span>
            </a>
            <a href="#" class="link">
                <span>Comment ça marche</span>
            </a>
            <a href="{{url('search')}}" class="link">
                <span>Les festivals</span>
            </a>
            <a href="#" class="link">
                <span>Les artistes</span>
            </a>
            <span class="clear"></span>
        </div>
        {% if user.firstname is defined %}
            <a href="#" id="connect">
                {{ user.firstname | capitalize }} {{ user.name | upper }}
            </a>
        {% else %}
            <a href="" id="connect">
                <span>Connexion</span>
            </a>
        {% endif %}
        <span class="clear"></span>
    </header>
    <content id="festival-page">
        <div class="first-block" style="background: url('{{festival.img}}')">
            <div class="infos">
                <h1>{{ festival.name | capitalize }}</h1>
                <span> {{ festival.city | capitalize }}, {{ festival.country | capitalize }} </span>
                <span>{{ festival.startDate | date("d") }} - {{ festival.endDate | date("d F o") }}</span>
            </div>
        </div>
        <div class="description-block block block-leaning">
            <h2>découvrez le festival</h2>
            <div class="block-content">
                <div class="tags" style="position: absolute; width: 400px; top: 20px; left: 25px; text-align: left;">
                {% for type in festival.type %}
                    <span style="padding: 3px 10px; text-transform: uppercase; color: #ffffff; font-weight: bold; margin-left: 5px; background-color: {{type.color}};">{{type.name}}</span>
                {% endfor %}
                </div>
                <img width="450" height="450" src="{{festival.pictures[0]}}" style="float: left;">
                <div style="float: left; margin-left: 10%; width: 50%; text-align: left; line-height: 25px;">
                    <p style="font-family: 'Oswald', sans-serif; margin-top: 0; text-transform: uppercase; font-weight: bold; font-size: 30px; line-height: 40px;">{{festival.name}}</p>
                    {{ festival.description }}
                </div>
                <span class="clear"></span>
            </div>
        </div>
        <div class="artists block after-block-leaning">
            <h2 class="add-rotate-left">Les artistes du festival</h2>
            <div class="artists-block">
                <div class="block" ng-repeat="artist in festivalCtrl.artists">
                    <img ng-src="{[{artist.picture}]}" alt="image artist">
                    <div class="artist">
                        <div class="info">
                            <div ng-if="artist.pseudo" class="name">{[{ artist.pseudo | capitalize}]}</div>
                            <div ng-if="!artist.pseudo" class="name">
                                {[{ artist.firstname | capitalize }]} {[{ artist.lastname | capitalize }]}
                            </div>
                            <div class="number-festivals">Dans {[{ artist.festivals.length + 1}]} festivals</div>
                            <a href="#" class="like" style="position: absolute; width: 19px; height: 19px; right: 10px; bottom: 10px;"></a>
                        </div>
                    </div>
                </div>
                <div id="all-festival-artists">
                    <div class="block" ng-repeat="artist in festivalCtrl.otherArtists">
                        <img ng-src="{[{artist.picture}]}" alt="image artist">
                        <div class="artist">
                            <div class="info">
                                <div ng-if="artist.pseudo" class="name">{[{ artist.pseudo | capitalize}]}</div>
                                <div ng-if="!artist.pseudo" class="name">
                                    {[{ artist.firstname | capitalize }]} {[{ artist.lastname | capitalize }]}
                                </div>
                                <div class="number-festivals">Dans {[{ artist.festivals.length + 1}]} festivals</div>
                                <a href="#" class="like" style="position: absolute; width: 19px; height: 19px; right: 10px; bottom: 10px;"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <button ng-if="festivalCtrl.otherArtists.length > 0" class="button">Voir tous les artistes</button>
            </div>
        </div>
        <div id="buy-image">
            <h2 style="color: white; border-color: white;">La billeterie</h2>
        </div>
        <div id="choose-package" ng-init="festivalCtrl.choosePackageTab = 1">
            <div id="create-package" class="content" ng-if="festivalCtrl.package.state === 'create'">
                <div class="navigation">
                    <span>
                        <button class="navigation-button" ng-class="{ active: festivalCtrl.choosePackageTab === 1 }" ng-click="festivalCtrl.choosePackageTab = 1">ticket</button>
                    </span>
                    <span>
                        <button class="navigation-button" ng-class="{ active: festivalCtrl.choosePackageTab === 2 }" ng-click="festivalCtrl.choosePackageTab = 2">transport</button>
                    </span>
                    <span>
                        <button class="navigation-button" ng-class="{ active: festivalCtrl.choosePackageTab === 3 }" ng-click="festivalCtrl.choosePackageTab = 3">hébergement</button>
                    </span>
                    <p id="choose-summary" ng-style="{ width: festivalCtrl.package.ticket ? '80%' : '100%' }"> Ma sélection :
                        <span>{[{festivalCtrl.package.ticket.name}]}</span>
                        <span ng-if="festivalCtrl.package.ticket && (festivalCtrl.package.travel || festivalCtrl.package.hotel)"> + </span>
                        <span>{[{festivalCtrl.package.travel.name}]}</span>
                        <span ng-if="festivalCtrl.package.ticket && festivalCtrl.package.travel && festivalCtrl.package.hotel"> + </span>
                        <span>{[{festivalCtrl.package.hotel.name}]}</span>
                    </p>
                    <button id="test123" ng-if="festivalCtrl.package.ticket" ng-click="festivalCtrl.package.state = 'summary'">Réserver ce package</button>
                    <span class="clear"></span>
                </div>
                <div class="content-choose tickets" ng-if="festivalCtrl.choosePackageTab === 1">
                    <div class="ticket" ng-repeat="ticket in festivalCtrl.festival.tickets" ng-click="festivalCtrl.package.ticket = ticket" ng-class="{ active: festivalCtrl.package.ticket.name === ticket.name }">
                        <div class="info">
                            <h4 class="title">{[{ ticket.name }]}</h4>
                            <p class="description">{[{ ticket.description }]}</p>
                        </div>
                        <span class="price">{[{ ticket.price + " €" }]}</span>
                        <span class="clear"></span>
                    </div>
                </div>
                <div class="content-choose travels" ng-if="festivalCtrl.choosePackageTab === 2">
                    <div class="travel" ng-repeat="travel in festivalCtrl.travels.routes" ng-click="festivalCtrl.package.travel = travel" ng-class="{ active: festivalCtrl.package.travel.name === travel.name }">
                        <img ng-src="/assets/images/{[{segment.kind}]}.png" ng-repeat="segment in travel.segments" ng-if="segment.isMajor" style="width: 60%; height: 120px; margin: 10% 20%;">
                        <h4>{[{ travel.name }]}</h4>
                        <span>durée de trajet : {[{ (travel.duration - (travel.duration%60))/60 + 'heures'}]} {[{ travel.duration%60 + 'minutes' }]}</span>
                        <span>{[{ travel.indicativePrice.price }]} €</span>
                    </div>
                </div>
                <div class="content-choose hebergement" ng-if="festivalCtrl.choosePackageTab === 3">
                    <div class="travel" ng-repeat="hotel in festivalCtrl.festival.hotels" ng-click="festivalCtrl.package.hotel = hotel" ng-class="{ active: festivalCtrl.package.hotel.name === hotel.name }">
                        <img ng-src="{[{hotel.picture}]}" style="width: 100%; height: 200px;">
                        <h4>{[{hotel.name}]}</h4>
                        <span>mini description (style hotel 3 étoiles trop top)</span>
                        <span>{[{ hotel.price }]} €</span>
                    </div>
                </div>
            </div>
            <div id="package-summary" class="content" ng-if="festivalCtrl.package.state === 'summary'">
                <h3>Récapitulatif</h3>
                <table class="selection" style="color: white; width: 100%;">
                    <tr>
                        <td>
                            <div style="height: 150px; width: 150px;">
                                <img ng-src="{[{festivalCtrl.festival.img}]}" style="width: 100%; height: 100%;">
                            </div>
                        </td>
                        <td>{[{ festivalCtrl.package.ticket.name }]}</td>
                        <td><input ng-model="number.ticket" type="number" ng-init="number.ticket = 1" min="1" max="10" style="color: black; width: 50px;"></td>
                        <td>{[{ festivalCtrl.package.ticket.price + " €"}]}</td>
                    </tr>
                    <tr ng-if="festivalCtrl.package.travel">
                        <td>
                            <div style="height: 150px; width: 150px; background-color: white;">
                                <img ng-src="/assets/images/{[{segment.kind}]}.png" style="width: 100%; height: 100%;" ng-repeat="segment in festivalCtrl.package.travel.segments" ng-if="segment.isMajor">
                            </div>
                        </td>
                        <td>{[{ festivalCtrl.package.travel.name }]}</td>
                        <td><input ng-model="number.travel" type="number" ng-init="number.travel = 1" value="1" min="1" max="10" style="color: black; width: 50px;"></td>
                        <td>{[{ festivalCtrl.package.travel.indicativePrice.price }]} €</td>
                        <td style="cursor: pointer;" ng-click="festivalCtrl.package.travel = ''">supprimer</td>
                    </tr>
                    <tr ng-if="festivalCtrl.package.hotel">
                        <td>
                            <div style="height: 150px; width: 150px;">
                                <img ng-src="{[{festivalCtrl.package.hotel.picture}]}" style="width: 100%; height: 100%;">
                            </div>
                        </td>
                        <td>{[{ festivalCtrl.package.hotel.name }]}</td>
                        <td><input ng-model="number.hotel" type="number" ng-init="number.hotel = 1" placeholder="1" value="1" min="1" max="10" style="color: black; width: 50px;"></td>
                        <td>{[{ festivalCtrl.package.hotel.price + " €"}]}</td>
                        <td style="cursor: pointer;" ng-click="festivalCtrl.package.hotel = ''">supprimer</td>
                    </tr>
                    <td style="height: 80px; padding-top: 40px;" colspan="3">
                        <span style="height: 70px; display: block; background-color: white; color: black; text-align: right; padding-right: 80px; line-height: 70px;">
                            Total :
                        </span>
                    </td>
                    <td style="height: 80px; padding-top: 40px;" colspan="2">
                        <span style="height: 70px; display: block; background-color: white; color: black; line-height: 70px;" ng-if="festivalCtrl.package.travel && festivalCtrl.package.hotel">{[{ number.ticket*festivalCtrl.package.ticket.price + number.travel*festivalCtrl.package.travel.indicativePrice.price + number.hotel*festivalCtrl.package.hotel.price }]} €</span>
                        <span style="height: 70px; display: block; background-color: white; color: black; line-height: 70px;" ng-if="festivalCtrl.package.travel && !festivalCtrl.package.hotel">{[{ number.ticket*festivalCtrl.package.ticket.price + number.travel*festivalCtrl.package.travel.indicativePrice.price }]} €</span>
                        <span style="height: 70px; display: block; background-color: white; color: black; line-height: 70px;" ng-if="!festivalCtrl.package.travel && festivalCtrl.package.hotel">{[{ number.ticket*festivalCtrl.package.ticket.price + number.hotel*festivalCtrl.package.hotel.price }]} €</span>
                        <span style="height: 70px; display: block; background-color: white; color: black; line-height: 70px;" ng-if="!festivalCtrl.package.travel && !festivalCtrl.package.hotel">{[{ number.ticket*festivalCtrl.package.ticket.price }]} €</span>
                    </td>
                    <!-- <tr ng-if="festivalCtrl.package.travel && festivalCtrl.package.hotel">
                        <td>{[{ number.ticket*festivalCtrl.package.ticket.price + number.travel*festivalCtrl.package.travel.indicativePrice.price + number.hotel*festivalCtrl.package.hotel.price }]}</td>
                    </tr>
                    <tr ng-if="festivalCtrl.package.travel && !festivalCtrl.package.hotel">
                        <td>{[{ number.ticket*festivalCtrl.package.ticket.price + number.travel*festivalCtrl.package.travel.indicativePrice.price }]}</td>
                    </tr>
                    <tr ng-if="!festivalCtrl.package.travel && festivalCtrl.package.hotel">
                        <td>{[{ number.ticket*festivalCtrl.package.ticket.price + number.hotel*festivalCtrl.package.hotel.price }]}</td>
                    </tr>
                    <tr ng-if="!festivalCtrl.package.travel && !festivalCtrl.package.hotel">
                        <td>{[{ number.ticket*festivalCtrl.package.ticket.price }]}</td>
                    </tr> -->
                </table>
                <div style="width: 100%; height: 80px; position: relative; padding-bottom: 17px;">
                    <button ng-click="festivalCtrl.package.state = 'create'" style="float: left; height: 80px; border-width: 0; background-color: #c92a55; color: white; font-size: 20px; padding: 0 20px;">modifier le package</button>
                    <form action="{{url('payment')}}" method="post">
                            <input type="hidden" name="chosen_ticket" value="{[{festivalCtrl.package.ticket.id}]}">
                            <input type="hidden" name="chosen_ticket_quantity" value="{[{number.ticket}]}">
                            <input type="hidden" name="chosen_travel_name" value="{[{festivalCtrl.package.travel.name}]}">
                            <input type="hidden" name="chosen_travel_price" value="{[{festivalCtrl.package.travel.indicativePrice.price}]}">
                            <input type="hidden" name="chosen_travel_quantity" value="{[{number.travel}]}">
                            <input type="hidden" name="chosen_hotel" value="{[{festivalCtrl.package.hotel.id}]}">
                            <input type="hidden" name="chosen_hotel_quantity" value="{[{number.hotel}]}">
                            <input type="submit" style="float: right; height: 80px; border-width: 0; background-color: #c92a55; color: white; font-size: 20px; padding: 0 20px; margin: 0;"value="Valider ma réservation">
                    </form>
                    <span class="clear"></span>
                </div>
            </div>
        </div>
        <section class="activity" style="background-color:#f8f8f8; text-align: center;">
            <h2 class="add-rotate-left">Les activités</h2>
            <br>
            <div class="one-activity">
                <div class="img-one-activity"><img src="/assets/images/img-sport.png"></div>
                <div class="title-one-activity">Jeux en plein air</div>
                <div class="content-one-activity">Description lorem ipsum dolor sit amet saec nudit ait teus.</div>
            </div>
            <div class="one-activity">
                <div class="img-one-activity"><img src="/assets/images/img-drink.png"></div>
                <div class="title-one-activity">Rafraichissements</div>
                <div class="content-one-activity">Description lorem ipsum dolor sit amet saec nudit ait teus.</div>
            </div>
            <div class="one-activity">
                <div class="img-one-activity"><img src="/assets/images/img-eat.png"></div>
                <div class="title-one-activity">Stand nourriture</div>
                <div class="content-one-activity">Description lorem ipsum dolor sit amet saec nudit ait teus.</div>
            </div>
            <div class="one-activity">
                <div class="img-one-activity"><img src="/assets/images/img-pool.png"></div>
                <div class="title-one-activity">Piscine</div>
                <div class="content-one-activity">Description lorem ipsum dolor sit amet saec nudit ait teus.</div>
            </div>
        </section>
        <section class="section-accordion" style="text-align: center; padding-bottom: 50px;">
            <h2 class="add-rotate-left">Informations pratiques</h2>
            <div class="accordion" style="text-align: left;">
                <div class="accordion-section">
                    <span class="accordion-section-title" data-content="accordion-1"><span class="accordion-title"><i class="icon-plus"></i>Comment venir</span></span>
                    <div id="accordion-1" class="accordion-section-content">
                        <p><span>Mauris interdum fringilla augue vitae tincidunt. Curabitur vitae tortor id eros euismod ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent nulla mi, rutrum ut feugiat at, vestibulum ut neque? Cras tincidunt enim vel aliquet facilisis. Duis congue ullamcorper vehicula. Proin nunc lacus, semper sit amet elit sit amet, aliquet pulvinar erat. Nunc pretium quis sapien eu rhoncus. Suspendisse ornare gravida mi, et placerat tellus tempor vitae.</span></p>
                    </div>

                    <span class="accordion-section-title" data-content="accordion-2"><span class="accordion-title"><i class="icon-plus"></i>Sur place</span></span>
                    <div id="accordion-2" class="accordion-section-content">
                        <span>
                            <ul>
                                <li><i class="icon-disabled"></i> Accès handicapé</li>
                                <li><i class="icon-parking"></i> Parking</li>
                                <li><i class="icon-toilet"></i> Toilettes</li>
                                <li><i class="icon-camping"></i> Camping</li>
                                <li><i class="icon-restaurant"></i> Restaurants</li>
                                <li><i class="icon-bar"></i> Bar</li>
                            </ul>
                        </span>
                    </div>
                    <span class="accordion-section-title" data-content="accordion-3"><span class="accordion-title"><i class="icon-plus"></i>Les régles essentielles</span></span>
                    <div id="accordion-3" class="accordion-section-content">
                        <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquet nec arcu posuere rhoncus. Nunc eget ligula in nibh sollicitudin fermentum ac vitae massa. Nulla facilisi. Curabitur pretium blandit molestie. Ut auctor orci id mi feugiat, sed molestie turpis interdum. Ut sollicitudin arcu ac nulla luctus, et condimentum lacus dignissim. Aenean quis diam quis erat venenatis pharetra at in elit. Duis pharetra ex arcu, ut scelerisque nibh rhoncus in. Vestibulum ultrices eget quam id vehicula. Aliquam aliquam sem tellus, sed pellentesque erat rhoncus sit amet. Pellentesque hendrerit a dolor id mattis. Etiam mattis efficitur velit, vel rutrum dolor pulvinar et. Nullam augue eros, venenatis id maximus sed, pulvinar vitae augue. Cras placerat ullamcorper odio, pulvinar semper purus auctor consectetur. Pellentesque eleifend eros nec risus facilisis, a tempus lorem sagittis. Pellentesque turpis augue, luctus et ex et, vehicula iaculis nisl.</span></p>
                    </div>
                    <span class="accordion-section-title" data-content="accordion-4"><span class="accordion-title"><i class="icon-plus"></i>Nos conseils</span></span>
                    <div id="accordion-4" class="accordion-section-content">
                        <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquet nec arcu posuere rhoncus. Nunc eget ligula in nibh sollicitudin fermentum ac vitae massa. Nulla facilisi. Curabitur pretium blandit molestie. Ut auctor orci id mi feugiat, sed molestie turpis interdum. Ut sollicitudin arcu ac nulla luctus, et condimentum lacus dignissim. Aenean quis diam quis erat venenatis pharetra at in elit. Duis pharetra ex arcu, ut scelerisque nibh rhoncus in. Vestibulum ultrices eget quam id vehicula. Aliquam aliquam sem tellus, sed pellentesque erat rhoncus sit amet. Pellentesque hendrerit a dolor id mattis. Etiam mattis efficitur velit, vel rutrum dolor pulvinar et. Nullam augue eros, venenatis id maximus sed, pulvinar vitae augue. Cras placerat ullamcorper odio, pulvinar semper purus auctor consectetur. Pellentesque eleifend eros nec risus facilisis, a tempus lorem sagittis. Pellentesque turpis augue, luctus et ex et, vehicula iaculis nisl.</span></p>
                    </div>
                </div>
            </div>
        </section>
    </content>
    <footer>
        <div class="contener">
            <div class="block column" style="padding-bottom:125px;">
                <h3>à propos de festitime</h3>
                <div>
                    <span class="img-plus"></span> <a class="footer-link" href="">Qui sommes-nous ?</a>
                    <br>
                    <span class="img-plus"></span> <a class="footer-link" href="">Nous contacter</a>
                    <br>
                    <span class="img-plus"></span> <a class="footer-link" href="">Plan du site</a>
                </div>
            </div>
            <div class="column">
                <div class="block first">
                    <h3>rechercher</h3>
                    <input id="search-bar-footer" type="text" ng-model="search" placeholder="Rechercher"/>
                </div>
                <div class="block second">
                    <h3>genres de musique</h3>
                    <div>
                        <a href="/search/type/{[{type.key}]}" ng-repeat="type in festivalCtrl.types">
                            <button class="tag" style="background-color: {[{type.color}]}">{[{type.name | capitalize }]}</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="block column" style="padding-bottom:36px;">
                <h3>infos légales</h3>
                <div>
                    <span class="img-plus"></span> <a class="footer-link" href="">Conditions générales de vente</a>
                    <br>
                    <span class="img-plus"></span> <a class="footer-link" href="">Données personnelles</a>
                    <br>
                    <span class="img-plus"></span> <a class="footer-link" href="">Mentions légales</a>
                    <br>
                    <span class="img-plus"></span> <a class="footer-link" href="">Signaler un abus</a>
                    <br>
                    <span class="img-plus"></span> <a class="footer-link" href="">Cookies</a>
                </div>
            </div>
            <span class="clear"></span>
        </div>
    </footer>
    <script type="text/javascript">
(function() {
    "use strict";

    jQuery(function($) {
        $('#festival-page .artists-block').click('.button', function() {
            $('#festival-page .artists-block .button').hide();
            $('#all-festival-artists').show(300);
        });

        $(".like, .share" ).click(function() {
          if ($(this).hasClass("change-color")) {
            $(this).removeClass("change-color");
          }
          else {
            $(this).addClass("change-color");
          }
        });

        $('.accordion-section-title').click(function() {
            var contentTabId = $(this).attr('data-content');

            if ($(this).hasClass('active')) {
                $(this).removeClass('active');
                $('.accordion #'+contentTabId).slideUp(300).removeClass('open');
            } else {
                $('.accordion .accordion-section-title').removeClass('active');
                $('.accordion .accordion-section-content').slideUp(300).removeClass('open');
                $(this).addClass('active');
                $('.accordion #'+contentTabId).slideDown(300).addClass('open');
            }
        });

        $('#search-bar-footer').keypress(function(e) {
            if (e.which === 13) {
                window.location.href = '/search/' + encodeURIComponent($(this).val());
            }
        });
        $("#connect").click(function(){
            $("#connect-modal").modal('show');
        });
    });
})();
    </script>
</body>
</html>