<html>
<head>
    <title>{{ festival.name }} - Festitime</title>
    <script src="/assets/js/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="/assets/js/bower_components/angular-animate/angular-animate.min.js"></script>
    <!-- To uncomment when angular-bootstrap work with angular 1.3.* -->
    <!-- <script type="text/javascript" src="/assets/js/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script> -->
    <!-- scripts for using angular-timer -->
    <script type="text/javascript" src="/assets/js/bower_components/humanize-duration/humanize-duration.js"></script>
    <script type="text/javascript" src="/assets/js/bower_components/momentjs/min/moment.min.js"></script>
    <script type="text/javascript" src="/assets/js/bower_components/momentjs/min/locales.min.js"></script>
    <script type="text/javascript" src="/assets/js/bower_components/angular-timer/dist/angular-timer.js"></script>
    <!-- /scripts for using angular-timer -->
    <!-- CSS -->
    <link rel="stylesheet" href="/assets/js/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/dist/css/styles.min.css">
    <!-- /CSS -->
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!-- /Fonts -->
    <!-- Angular app need to be load last -->
    <script type="text/javascript" src="/assets/dist/js/built.js"></script>
</head>
<body ng-app="Frontoffice" ng-controller="festivalController as festivalCtrl" ng-init="festivalCtrl.getFestival('{{festival.id}}')">
    <header>
        {% set user = app.session.get('user') %}
        <div id="flag">
            <img id="logo" width="110px" src="/assets/images/logo.png"/>
        </div>
        <div id="menu">
            <a href="{{url('home')}}" class="link">
                <span>Accueil</span>
            </a>
            <a href="#" class="link">
                <span>Comment ça marche</span>
            </a>
            <a href="{{url('search')}}" class="link">
                <span>Les festivals</span>
            </a>
            <a href="#" class="link">
                <span>Les artistes</span>
            </a>
            <span class="clear"></span>
        </div>
        {% if user.firstname is defined %}
            <a href="#" id="connect">
                {{ user.firstname | capitalize }} {{ user.name | upper }}
            </a>
        {% else %}
            <a href="{{googleAuthUrl}}" id="connect">
                <span>Connexion</span>
            </a>
        {% endif %}
        <span class="clear"></span>
    </header>
    <content id="festival-page">
        <div class="first-block" ng-style="festivalPicture">
            <div class="infos">
                <h1>{{ festival.name | capitalize }}</h1>
                <span> {{ festival.city | capitalize }}, {{ festival.country | capitalize }} </span>
                <span>{{ festival.startDate | date("d") }} - {{ festival.endDate | date("d F o") }}</span>
            </div>
        </div>
        <div class="description-block block block-leaning">
            <h2>découvrez le festival</h2>
            <div class="block-content">
                {{ festival.description }}
            </div>
        </div>
        <div class="artists block after-block-leaning">
            <h2 class="add-rotate-left">Les artistes du festival</h2>
            <div class="artists-block">
                <div class="block" ng-repeat="artist in festivalCtrl.artists">
                    <img ng-src="{[{artist.picture}]}" alt="image artist">
                    <div class="artist">
                        <div class="info">
                            <div ng-if="artist.pseudo" class="name">{[{ artist.pseudo | capitalize}]}</div>
                            <div ng-if="!artist.pseudo" class="name">
                                {[{ artist.firstname | capitalize }]} {[{ artist.lastname | capitalize }]}
                            </div>
                            <div class="number-festivals">Dans {[{ artist.festivals.length }]} festivals</div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <a href="{{ url('search') }}" class="button">Voir tous les artistes</a>
            </div>
        </div>
        <div id="choose-package" ng-init="festivalCtrl.choosePackageTab = 1">
            <div class="content">
                <div class="navigation">
                    <span>
                        <button ng-class="{ active: festivalCtrl.choosePackageTab === 1 }" ng-click="festivalCtrl.choosePackageTab = 1">ticket</button>
                    </span>
                    <span>
                        <button ng-class="{ active: festivalCtrl.choosePackageTab === 2 }" ng-click="festivalCtrl.choosePackageTab = 2">transport</button>
                    </span>
                    <span>
                        <button ng-class="{ active: festivalCtrl.choosePackageTab === 3 }" ng-click="festivalCtrl.choosePackageTab = 3">hébergement</button>
                    </span>
                </div>
                <div class="content-choose tickets" ng-if="festivalCtrl.choosePackageTab === 1">
                    <div class="ticket">
                        <div class="info">
                            <h4 class="title">Ticket nom - ticket date</h4>
                            <p class="description">description tral la aala lorem ipsum idolorium expeliormus tatam lagli</p>
                        </div>
                        <span class="price">ticket prix</span>
                        <span class="clear"></span>
                    </div>
                    <div class="ticket">
                        <div class="info">
                            <h4 class="title">Ticket nom - ticket date</h4>
                            <p class="description">description tral la aala lorem ipsum idolorium expeliormus tatam lagli</p>
                        </div>
                        <span class="price">ticket prix</span>
                        <span class="clear"></span>
                    </div>
                </div>
                <div class="content-choose travels" ng-if="festivalCtrl.choosePackageTab === 2">
                    <div class="travel" ng-repeat="travel in festivalCtrl.travels.routes">
                        <h4>{[{ travel.name }]}</h4>
                        <span>durée de trajet : {[{ (travel.duration - (travel.duration%60))/60 + 'heures'}]} {[{ travel.duration%60 + 'minutes' }]}</span>
                        <span>{[{ travel.indicativePrice.price + " €" }]}</span>
                    </div>
                </div>
                <div class="content-choose hebergement" ng-if="festivalCtrl.choosePackageTab === 3">
                    <h1>hebergement aaahhhahahahhahhahahahahahahah</h1>
                </div>
            </div>
        </div>
        <table>
            <tr>
                <td>Places</td>
                <td ng-repeat="place in festivalCtrl.travels.places">{[{ place.longName + ' : ' + place.pos }]}</td>
            </tr>
            <tr><td colspan="2">Travels</td></tr>
            <tr ng-repeat="travel in festivalCtrl.travels.routes">
                <td>
                    <table>
                        <tr>
                            <th>{[{ travel.name }]}</th>
                            <th>{[{ (travel.duration - (travel.duration%60))/60 + 'heures'}]} {[{ travel.duration%60 + 'minutes' }]}</th>
                            <th>{[{ travel.indicativePrice.price + " €" }]}</th>
                        </tr>
                        <tr>
                            <td ng-repeat="stop in travel.stops">
                                <span>
                                    {[{stop.name }]}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th>segments</th>
                        </tr>
                        <tr ng-repeat="segment in travel.segments">
                            <td>
                                {[{ segment.kind + ' ( ' + segment.vehicle + ' ) : ' + segment.sName + ' -> ' + segment.tName }]}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </content>
    <footer>
        <div class="contener">
            <div class="block column" style="padding-bottom:125px;">
                <h3>à propos de festitime</h3>
                <div>
                    <span class="img-plus"></span> <a class="footer-link" href="">Qui sommes-nous ?</a>
                    <br>
                    <span class="img-plus"></span> <a class="footer-link" href="">Nous contacter</a>
                    <br>
                    <span class="img-plus"></span> <a class="footer-link" href="">Plan du site</a>
                </div>
            </div>
            <div class="column">
                <div class="block first">
                    <h3>rechercher</h3>
                    <input id="search-bar-footer" type="text" ng-model="search" placeholder="Rechercher"/>
                </div>
                <div class="block second">
                    <h3>genres de musique</h3>
                    <div>
                        <a href="/search/type/{[{type}]}" ng-repeat="type in searchBarCtrl.types">
                            <button class="tag">{[{type | capitalize }]}</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="block column" style="padding-bottom:36px;">
                <h3>infos légales</h3>
                <div>
                    <span class="img-plus"></span> <a class="footer-link" href="">Conditions générales de vente</a>
                    <br>
                    <span class="img-plus"></span> <a class="footer-link" href="">Données personnelles</a>
                    <br>
                    <span class="img-plus"></span> <a class="footer-link" href="">Mentions légales</a>
                    <br>
                    <span class="img-plus"></span> <a class="footer-link" href="">Signaler un abus</a>
                    <br>
                    <span class="img-plus"></span> <a class="footer-link" href="">Cookies</a>
                </div>
            </div>
            <span class="clear"></span>
        </div>
    </footer>
    <script type="text/javascript">
(function() {
    "use strict";

    jQuery(function($) {
        $('#search-bar-footer').keypress(function(e) {
            if (e.which === 13) {
                window.location.href = '/search/' + encodeURIComponent($(this).val());
            }
        });
    });
})();
    </script>
</body>
</html>