<html>
<head>
    <title>Les Festivals - Festitime</title>
    <meta charset='utf-8'>
    <link rel="icon" type="image/jpg" href="/assets/images/favicon.jpg" />
    <script src="/assets/js/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="/assets/js/bower_components/angular-animate/angular-animate.min.js"></script>
    <!-- To uncomment when angular-bootstrap work with angular 1.3.* -->
    <!-- <script type="text/javascript" src="/assets/js/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script> -->
    <!-- scripts for using angular-timer -->
    <script type="text/javascript" src="/assets/js/bower_components/humanize-duration/humanize-duration.js"></script>
    <script type="text/javascript" src="/assets/js/bower_components/momentjs/min/moment.min.js"></script>
    <script type="text/javascript" src="/assets/js/bower_components/momentjs/min/locales.min.js"></script>
    <script type="text/javascript" src="/assets/js/bower_components/angular-timer/dist/angular-timer.js"></script>
    <!-- /scripts for using angular-timer -->
    <!-- CSS -->
    <link rel="stylesheet" href="/assets/js/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/dist/css/styles.min.css">
    <!-- /CSS -->
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!-- /Fonts -->
    <!-- Angular app need to be load last -->
    <script type="text/javascript" src="/assets/dist/js/built.min.js"></script>
<body ng-app="Frontoffice" ng-controller="searchPageController as searchPageCtrl">
    <!-- Connect modal -->
    <div id="connect-modal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="modal-close" data-dismiss="modal" aria-hidden="true"><img src="/assets/images/Croix.png" /></button>
                </div>
                <div id="connect-content-modal">
                    <h4 class="modal-title">Se connecter</h4>
                    <div class="modal-body">
                        <h5 class="modal-subtitle">Déjà membre ?</h5>
                        <div class="clear"></div>
                            <div id="facebook" class="social-button">
                                <img src="/assets/images/FB.png">
                                <p>Connexion facebook</p>
                            </div>
                            <a href="{{googleAuthUrl}}">
                                <div id="google" class="social-button">
                                    <img src="/assets/images/Google.png">
                                    <p>Connexion google</p>
                                </div>
                            </a>
                        <div class="clear"></div>
                        <p class="modal-subtitle-small">Ou par email</p><br>
                        <form action="{{ path('login') }}" method="POST" role="form">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" id="email" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="password">Mot de passe</label>
                                <input type="password" id="password" class="form-control" />
                            </div>
                            <p class="modal-text-right">Se souvenir de moi</p>
                            <!-- Slide THREE -->
                            <div class="slideThree">
                                <input type="checkbox" value="None" id="slideThree" name="check" />
                                <label for="slideThree"></label>
                            </div>
                            <div class="clear"></div>
                            <!--  -->
                            <input type="submit" class="modal-button btn btn-lg" value="Se connecter">
                        </form>
                    </div>
                </div>
                <div id="register-content-modal">
                    <h4 class="modal-title">S'inscrire</h4>
                    <div class="modal-body">
                        <h5 class="modal-subtitle">Pas encore de compte ?</h5>
                        <div class="clear"></div>
                            <div id="facebook" class="social-button">
                                <img src="/assets/images/FB.png">
                                <p>Inscription facebook</p>
                            </div>
                            <div id="google" class="social-button">
                                <img src="/assets/images/Google.png">
                                <p>Inscription google</p>
                            </div>
                        <div class="clear"></div>
                        <p class="modal-subtitle-small">Ou par email</p><br>
                        <a href="{{url('login')}}" class="modal-button btn btn-lg">S'inscrire</a>
                        <br><img src="/assets/images/Fusee.png" height="150px"/>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <!-- /Connect modal -->
    <header>
        {% set user = app.session.get('user') %}
        <div id="flag">
            <img id="logo" width="110px" src="/assets/images/logo.png"/>
        </div>
        <div id="menu">
            <a href="{{url('home')}}" class="link">
                <span>Accueil</span>
            </a>
            <a href="#" class="link">
                <span>Comment ça marche</span>
            </a>
            <a href="{{url('search')}}" class="link">
                <span>Les festivals</span>
            </a>
            <a href="#" class="link">
                <span>Les artistes</span>
            </a>
            {% if searchedSlug is defined %}
                <input id="search-bar" type="text" size="10" ng-model="search" ng-init="search='{{searchedSlug}}'"/>
            {% else %}
                <input id="search-bar" type="text" size="10" ng-model="search"/>
            {% endif %}
            <span class="clear"></span>
        </div>
        {% if user.firstname is defined %}
            <a href="#" id="connect">
                {{ user.firstname | capitalize }} {{ user.name | upper }}
            </a>
        {% else %}
            <a href="{{googleAuthUrl}}" id="connect">
                <span>Connexion</span>
            </a>
        {% endif %}
        <span class="clear"></span>
    </header>
    <div id="sidebar">
        <div class="sidebar item">
            <div class="header">
                <div class="icon agenda"></div>
                <div class="title">
                    Trier par dates
                </div>
                <img class="status open" width="20px" height="23px" alt="arrow" src="/assets/images/arrow-up.svg"/>
            </div>
            <div class="content">
                Ins&eacute;rer ici un calendrier
            </div>
        </div>
        <div class="sidebar item">
            <div class="header">
                <div class="icon music"></div>
                <div class="title">
                    Trier par genres
                </div>
                <img width="20px" height="23px" class="status open" alt="arrow" src="/assets/images/arrow-up.svg"/>
            </div>
            <div class="content">
            {% if searchedType is defined %}
                <span ng-repeat="type in searchPageCtrl.types">
                    <span class="tag tag-{[{type.key}]} active" ng-if="type.key == '{{searchedType}}'">{[{type.name | capitalize }]}
                        <input type="checkbox" ng-click="searchPageCtrl.includeType(type.key)" checked="checked">
                    </span>
                    <span class="tag tag-{[{type.key}]}" ng-if="type.key != '{{searchedType}}'">{[{type.name | capitalize }]}
                        <input type="checkbox" ng-click="searchPageCtrl.includeType(type.key)">
                    </span>
                </span>
            {% else %}
                <span ng-repeat="type in searchPageCtrl.types">
                    <span class="tag tag-{[{type.key}]}">{[{type.name | capitalize }]}
                        <input type="checkbox" ng-click="searchPageCtrl.includeType(type.key)">
                    </span>
                </span>
            {% endif %}
            </div>
        </div>
        <div class="sidebar item">
            <div class="header">
                <div class="icon location"></div>
                <div class="title">
                    Trier par Pays
                </div>
                <img width="20px" height="23px" class="status open" alt="arrow" src="/assets/images/arrow-up.svg"/>
            </div>
            <div class="content">
                <span class="tag">France</span>
                <span class="tag">Espagne</span>
                <span class="tag">Angleterre</span>
                <span class="tag">Allemagne</span>
                <span class="tag">Belgique</span>
            </div>
        </div>
    </div>
    <div id="main">
    {% if searchedType is defined %}
        <search-festivals types="'{{searchedType}}'" search-text="search"></search-festivals>
    {% else %}
        <search-festivals search-text="search"></search-festivals>
    {% endif %}
    </div>
    <script type="text/javascript">
(function() {
    "use strict";

    jQuery(function($) {
        $('.sidebar.item .content').on('click', '.tag', function() {
            if ($(this).children('input').is(':checked')) {
                $(this).addClass("active");
            } else {
                $(this).removeClass("active");
            }
            $(this).children('input').trigger("click");
        });

        $('.sidebar.item .header').on('click', '.status', function() {
            if ($(this).hasClass('close')) {
                $(this).closest('.sidebar.item').children('.content').slideDown(200);
                $(this).attr("src", "/assets/images/arrow-up.svg");
                $(this).removeClass("close");
                $(this).addClass("open");
            } else if ($(this).hasClass('open')) {
                $(this).closest('.sidebar.item').children('.content').slideUp(200);
                $(this).attr("src", "/assets/images/arrow-bottom.svg");
                $(this).removeClass("open");
                $(this).addClass("close");
            }
        });
        $("#connect").click(function(){
            $("#connect-modal").modal('show');
        });
    });
})();
    </script>
</body>
</html>