<html>
<head>
    <title>Les Festivals - Festitime</title>
    <script src="/assets/js/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="/assets/js/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/assets/js/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/dist/css/styles.min.css">
    <!-- /CSS -->
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!-- /Fonts -->
    <!-- Angular app need to be load last -->
    <script type="text/javascript" src="/assets/dist/js/built.js"></script>
</head>
<body ng-app="Frontoffice" ng-controller="searchBarController as searchBarCtrl">
    <header>
        {% set user = app.session.get('user') %}
        <div id="flag">
            <img id="logo" width="110px" src="/assets/images/logo.png"/>
        </div>
        <div id="menu">
            <a href="{{url('home')}}" class="link">
                <span>Accueil</span>
            </a>
            <a href="#" class="link">
                <span>Comment ça marche</span>
            </a>
            <a href="{{url('search')}}" class="link">
                <span>Les festivals</span>
            </a>
            <a href="#" class="link">
                <span>Les artistes</span>
            </a>
            {% if searchedSlug is defined %}
                <input id="search-bar" type="text" size="10" ng-model="search" ng-init="search='{{searchedSlug}}'"/>
            {% else %}
                <input id="search-bar" type="text" size="10" ng-model="search"/>
            {% endif %}
            <span class="clear"></span>
        </div>
        {% if user.firstname is defined %}
            <a href="#" id="connect">
                {{ user.firstname | capitalize }} {{ user.name | upper }}
            </a>
        {% else %}
            <a href="{{googleAuthUrl}}" id="connect">
                <span>Connexion</span>
            </a>
        {% endif %}
        <span class="clear"></span>
    </header>
    <div id="sidebar">
        <div class="sidebar item">
            <div class="header">
                <div class="icon agenda"></div>
                <div class="title">
                    Trier par dates
                </div>
                <img class="status open" width="20px" height="23px" alt="arrow" src="/assets/images/arrow-up.svg"/>
            </div>
            <div class="content">
                Ins&eacute;rer ici un calendrier
            </div>
        </div>
        <div class="sidebar item">
            <div class="header">
                <div class="icon music"></div>
                <div class="title">
                    Trier par genres
                </div>
                <img width="20px" height="23px" class="status open" alt="arrow" src="/assets/images/arrow-up.svg"/>
            </div>
            <div class="content">
            {% if searchedType is defined %}
                <span ng-repeat="type in searchBarCtrl.types">
                    <span class="tag tag-{[{type}]} active" ng-if="type == '{{searchedType}}'">{[{type | capitalize }]}
                        <input type="checkbox" ng-click="searchBarCtrl.includeType(type)" checked="checked">
                    </span>
                    <span class="tag tag-{[{type}]}" ng-if="type != '{{searchedType}}'">{[{type | capitalize }]}
                        <input type="checkbox" ng-click="searchBarCtrl.includeType(type)">
                    </span>
                </span>
            {% else %}
                <span ng-repeat="type in searchBarCtrl.types">
                    <span class="tag tag-{[{type}]}">{[{type | capitalize }]}
                        <input type="checkbox" ng-click="searchBarCtrl.includeType(type)">
                    </span>
                </span>
            {% endif %}
            </div>
        </div>
        <div class="sidebar item">
            <div class="header">
                <div class="icon location"></div>
                <div class="title">
                    Trier par Pays
                </div>
                <img width="20px" height="23px" class="status open" alt="arrow" src="/assets/images/arrow-up.svg"/>
            </div>
            <div class="content">
                <span class="tag">France</span>
                <span class="tag">Espagne</span>
                <span class="tag">Angleterre</span>
                <span class="tag">Allemagne</span>
                <span class="tag">Belgique</span>
            </div>
        </div>
    </div>
    <div id="main">
    {% if searchedType is defined %}
        <search-festivals types="'{{searchedType}}'" search-text="search"></search-festivals>
    {% else %}
        <search-festivals search-text="search"></search-festivals>
    {% endif %}
    </div>
    <script type="text/javascript">
        $('.sidebar.item .content').on('click', '.tag', function(e) {
            if($(this).children('input').is(':checked'))
            {
                $(this).addClass("active");
            }
            else
            {
                $(this).removeClass("active");
            }
            $(this).children('input').trigger("click");
        });

        $('.sidebar.item .header').on('click', '.status', function(e) {
            if($(this).hasClass('close')){
                $(this).closest('.sidebar.item').children('.content').slideDown(200);
                $(this).attr("src", "/assets/images/arrow-up.svg");
                $(this).removeClass("close");
                $(this).addClass("open");
            }
            else if($(this).hasClass('open')){
                $(this).closest('.sidebar.item').children('.content').slideUp(200);
                $(this).attr("src", "/assets/images/arrow-bottom.svg");
                $(this).removeClass("open");
                $(this).addClass("close");
            }
        });
    </script>
</body>
</html>